<%= form_with model: @generator do |form| %>
    <div class="tab">
        <%= form.label :name %>
        <%= form.text_field :name %>
        <% @generator.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <%= render "components/tab/form/taglist", form: form, entity: @generator %>

    <!-- <div class="tab">
      <%= render "generator_config/form", config: :config, form: form %>
      <% @generator.errors.full_messages_for(:config).each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div> -->

    <%= form.submit 'submit', :class => 'button' %>
<% end %>