<h1>New Generator</h1>

<%= form_with model: @generator do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        <% @generator.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :tag_list %><br>
        <%= form.text_field :tag_list %>
        <% @generator.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>