<%= form_with model: @tag do |form| %>
    <div class="tab">
        <%= form.label :name %>
        <%= form.text_field :name %>
        <% @tag.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <%= form.submit 'submit', :class => 'button' %>
<% end %>