<!DOCTYPE html>
<html>
  <head>
    <title>Drought</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="navbar">
    <a href="<%= generators_path %>"><li>Generators</li></a>
    <a href="<%= snippets_path %>"><li>Snippets</li></a>
    <a href="<%= tags_path %>"><li>Tags</li></a>
    </ul>
    <%= yield %>
  </body>
</html>
