<!DOCTYPE html>
<html>
  <head>
    <title>Markov Pun TBD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="navbar">
    <li><a href="<%= generators_path %>"><span>Generators</span></a></li>
    <li><a href="<%= snippets_path %>"><span>Snippets</span></a></li>
    <li><a href="<%= tags_path %>"><span>Tags</span></a></li>
    </ul>
    <%= yield %>
  </body>
</html>
